:root {
    --primary-color: #08415C;
    --secondary-color: #CC2936;
    --accent1-color: #EBBAB9;
    --accent2-color: #388697;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none
}

header,
main,
footer {
    max-width: 960px;
}

img {
    width: 100%;
    height: auto;
}

header img {
    /* this affects the Rapids logo*/
    /* display: block;  do not use*/
    width: 150px;
    height: auto;
}

div.hero {
    /* this shifts the small img in the pink in relation to the words*/
    position: relative;
    border: 3px solid var(--primary-color);
}

h1 {
    /* this moves the Rapids by nature*/
    position: absolute;
    top: 20px;
    left: 389px;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 20px;
    background-color: var(--accent1-color);
    opacity: 0.8;
}

h2 {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: xx-large;
}

article {
    position: absolute;
    width: 800px;
    top: 340px;
    left: 100px;
    border: 1px solid rgb(0 0 0 / 0.1);
    padding: 20px;
    background-color: var(--accent1-color);
    opacity: 0.8;
}

article img {
    /*image associated with hero paragraph*/
    float: right;
    width: 150px;
}

footer {
    color: var(--primary-color);
    padding: 20px;
}

.sociallinks img {
    width: 50px;
    height: auto;
}